@media (max-width:767px) {
  .navigation-clean-search .navbar-header {
    padding-top: px;
  }
}

@media (max-width:767px) {
  .navigation-clean-search .navbar-right {
    margin-bottom: 20px;
  }
}

.navigation-clean-search .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean-search .navbar-brand:hover {
  color: #222;
}

.navigation-clean-search .navbar-toggle {
  border-color: #ddd;
}

.navigation-clean-search .navbar-toggle:hover, .navigation-clean-search .navbar-toggle:focus {
  background: none;
}

.navigation-clean-search .navbar-toggle .icon-bar {
  background-color: #888;
}

.navigation-clean-search .navbar-collapse, .navigation-clean-search .navbar-form {
  border-top-color: #ddd;
}

.navigation-clean-search .navbar-nav > .active > a, .navigation-clean-search .navbar-nav > .open > a {
  background: none;
  box-shadow: none;
}

.navigation-clean-search.navbar-default .navbar-nav > .active > a, .navigation-clean-search.navbar-default .navbar-nav > .active > a:focus, .navigation-clean-search.navbar-default .navbar-nav > .active > a:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean-search.navbar .navbar-nav > li > a {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean-search.navbar-default .navbar-nav > li > a {
  color: #465765;
}

.navigation-clean-search.navbar-default .navbar-nav > li > a:focus, .navigation-clean-search.navbar-default .navbar-nav > li > a:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean-search .action-button, .navigation-clean-button .action-button:active {
  background: #56c6c6;
  border-radius: 20px;
  color: #fff !important;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 10px 22px;
  transition: background-color 0.25s;
}

.navigation-clean-search .action-button:hover, .navigation-clean-search .action-button:focus {
  background: #66d7d7;
}

.navigation-clean-search .navbar-form label {
  color: #ccc;
}

.navigation-clean-search .navbar-form .search-field {
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: #ccc;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}

@media (max-width:767px) {
  .navigation-clean-search .navbar-form .search-field {
    display: inline-block;
    width: 80%;
  }
}

.navigation-clean-search .navbar-form .search-field:focus {
  border-bottom: 1px solid #ccc;
}

