body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

div {
    display: block;
    background-color: rgb(247, 244, 244);
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.hero {
    padding-left: 40px;
    padding-right: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero > .main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.hero > .main > .side-left {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    padding-top: 20px;
    padding-right: 30px;
}

.sidebar-image {
    margin-left: 16px;
}

.ad-right-text, .sidebar-bh {
    font-size: 12px;
    margin-left: 20px;
    color: #353535;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card {
    background-color: #fff;
    padding: 20px 24px;
    font-size: 14px;
}

.card .card-title, .dropdown > .dropdown-menu .card-title, .hero > .main > .side-left .card-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #555;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
}

.card-list > .card > .card-title, .hero > .main.card-list > .side-left > .card-title, .dropdown.card-list > .dropdown-menu > .card-title {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: #2b2b2b;
    line-height: 22px;
    justify-content: space-between;
}

.card-title {
    margin-bottom: .75rem;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.item-list {
    padding: 0;
}

ul {
    padding: 0;
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
    background-color: #fff;
}

.card-list > .card > .item-list > li {
    margin-bottom: 8px;
}

li {
    list-style: none;
}

.item-list li .number {
    margin-right: 10px;
    color: #909090;
}

.sidebar .item-list li a:link, .sidebar .item-list li a:active, .sidebar .item-list li a:visited {
    color: #353535;
}

.item-list li {
    display: flex;
    max-height: 40px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
}

.hero > .main > .main-flow {
    width: 650px;
    border: 1px rgb(225, 218, 218) solid;
    background-color: #ffffff;
}

.post-list {
    width: 100%;
    margin-bottom: 30px;
    min-height: 500px;
    background-color: #fff;
}

.post-list > .post-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #f6f6f6;
    margin-top: 16px;
    overflow-wrap: break-word;
    background-color: #fff;
}

.post-list > .post-item > .post-item-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

.post-item-text {
    padding: 0;
    background-color: #fff;
}

.post-list > .post-item > .post-item-body > .post-item-text > .post-item-title:link {
    color: #272f36;
    text-decoration: underline;
}

.post-list > .post-item > .post-item-body > .post-item-text > .post-item-summary {
    display: block;
    color: #555;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    -o-text-overflow: clip;
    text-overflow: clip;
}

.post-item .avatar {
    border-radius: 0;
    padding: 1px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}

.post-list > .post-item > .post-item-body > .post-item-text > .post-item-title {
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    outline: none;
}

#post-item-foot {
    margin-top: 0;
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    color: #555;
}

.post-meta-item {
    margin-right: 16px;
    vertical-align: middle;
}

.post-meta-item {
    display: inline-flex;
    fill: #bdbdbd;
    stroke: #bdbdbd;
    /*height: 20px;*/
    white-space: nowrap;
}

.post-item-author {
    margin-right: 16px;
    vertical-align: middle;
}

.post-meta-iten {
    margin-right: 16px;
    vertical-align: middle;
}

.glyphicon.glyphicon-thumbs-up {
    height: 16px;
    width: 16px;
}

.side-right {
    margin-top: 60px;
    margin-left: 20px;
    width: 150px;
    width: 300px;
    max-width: 150px;
    min-width: 150px;
    padding-top: 20px;
    padding-right: 0;
}

.list-box {
    margin-top: 40px;
    margin-left: 30px;
    width: 120px;
    z-index: 10;
    -webkit-transition: all .1s;
    transition: all .1s;
    position: relative;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #e6e6e6;
}

.list-right-item {
    margin-bottom: 26px;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
    background-color: #fff;
}

