.navigation-clean {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

@media (max-width:767px) {
  .navigation-clean {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width:767px) {
  .navigation-clean .navbar-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.navigation-clean .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean .navbar-brand:hover {
  color: #222;
}

.navigation-clean .navbar-toggle {
  border-color: #ddd;
}

.navigation-clean .navbar-toggle:hover, .navigation-clean .navbar-toggle:focus {
  background: none;
}

.navigation-clean .navbar-toggle .icon-bar {
  background-color: #888;
}

.navigation-clean .navbar-collapse, .navigation-clean .navbar-form {
  border-top-color: #ddd;
  background-color: #fff;
  height: 30px;
}

.navigation-clean .navbar-nav > .active > a, .navigation-clean .navbar-nav > .open > a {
  background: none;
  box-shadow: none;
}

.navigation-clean.navbar-default .navbar-nav > .active > a, .navigation-clean.navbar-default .navbar-nav > .active > a:focus, .navigation-clean.navbar-default .navbar-nav > .active > a:hover {
  color: #3f3b3b;
  box-shadow: none;
  background: none;
  /*pointer-events: none;*/
  padding-top: 8px;
  font-size: 12px;
  padding-bottom: 0;
  padding-right: 0;
}

.navigation-clean.navbar .navbar-nav > li > a {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean.navbar-default .navbar-nav > li > a {
  color: #465765;
}

.navigation-clean.navbar-default .navbar-nav > li > a:focus, .navigation-clean.navbar-default .navbar-nav > li > a:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
  background-color: #fff;
  border-radius: 2px;
}

.navigation-clean .dropdown-menu > li > a:focus, .navigation-clean .dropdown-menu > li > a {
  line-height: 2;
  font-size: 14px;
  color: #37434d;
}

.navigation-clean .dropdown-menu > li > a:focus, .navigation-clean .dropdown-menu > li > a:hover {
  background: #eee;
  color: inherit;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}

.top_nav_link {
  padding-left: 18px;
  padding-right: 18px;
  font-size: 20px;
}

.navbar-brand {
  font-size: 28px;
}

#shouye {
  margin-left: 15px;
  padding-top: 12px;
  font-size: 20px;
}

#top-navbar-right {
  float: right;
}

#navbar_search {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 6px;
  /*background-color: #f4f4f4;*/
}

#top-input {
  /*border: none;*/
  outline: none;
  background: none;
  width: 170px;
  font-size: inherit;
}

#submit {
  background: none;
  /*position: absolute;*/
  /*top: 8px;*/
  /*right: 16px;*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*border: none;*/
  /*background: none;*/
  color: #505050;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  /*transition: all .2s;*/
}

#search-botton {
  background: none;
}

#navbar_login_status {
  min-width: 120px;
  margin-left: 24px;
  list-style: none;
}

.navbar-list > a {
  margin-left: 24px;
}

.nav.navbar-nav {
}

#denglu {
  font-size: 17px;
  padding-top: 13px;
  padding-left: 30px;
  padding-right: 10px;
}

#zhuce {
  font-size: 17px;
  padding-top: 13px;
  padding-right: 0;
  padding-left: 10px;
}

#search-botton {
  outline: none;
}

#top_nav {
  border: 1px rgb(238,224,224) solid;
  background-color: #fff;
  padding-bottom: 0;
}

.navbar.navbar-default.navigation-clean {
  background-color: #fff;
}

.container {
  background-color: #fff;
}

.navbar-brand {
  padding-top: 12px;
}

.active {
}

.top_nav_link {
}

#user_icon {
  width: 30px;
  height: 30px;
}

.navbar-avatar {
  border-radius: 50%;
  margin-right: 10px;
}

.active {
}

#guidang {
  font-size: 20px;
  padding-top: 12px;
  padding-left: 30px;
}

#liuyan {
  font-size: 20px;
  padding-top: 12px;
  padding-left: 30px;
}

